@font-face {
    font-family: 'tahoma-regular';
    src: url("../font/tahoma.ttf");
}

@font-face {
    font-family: 'tahoma-bold';
    src: url("../font/tahomabd.ttf");
}

body {
    background-color: #eaedf4;
    font-family: 'tahoma-regular';
    font-size: 15px;
}

.bold {
    font-family: 'tahoma-bold';
}

.nav-link {
    font-family: 'tahoma-regular';
    color: #ffffff;
}

.nav-pills .nav-link:hover {
    color: #ffffff;
    font-family: 'tahoma-bold';
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #005da1;
    background-color: #eaedf4;
    font-family: 'tahoma-bold';
}

.nav-pills .nav-link {
    border-radius: 20px 0 0 20px;
    font-family: 'tahoma-regular';
}

.barra-superior {
    border-radius: 20px 0 0 20px;
}

.card-dashboard {
    border-radius: 15px;
}

.card-header:first-child {
    border-radius: 15px 15px 0 0;
}

.bg-azul {
    background-color: #005da1;
}

.letra-azul {
    color: #005da1;
}

.ic-cumple {
    color: #17ead4;
}

.ic-perfil {
    color: #42e695;
}

.ic-opciones {
    color:#005da1;
}

.navbar {
    border-radius: 20px 0 0 20px;
}

.sombra {
    box-shadow: #2488e220 3px 3px 3px 0;
}

.bg-caja-gerencia {
    background-color: #00b3ba;
}

.bg-caja-bancaria {
    background-color: #0091cf;
}

.bg-total {
    background-color: #003761;
}

.text-gris {
    color: #4d4d4d;
}

.badge-oscuro {
    color: #005da1;
    background-color: #a9cbde;
    border-radius: 20px 10px 10px 20px;
}

.badge-claro {
    color: #4d4d4d;
    background-color: #e7f2f4;
    border-radius: 10px 20px 20px 10px;
}

.bg-turquesa {
    background-color: #4ac2b9;
}

.btn-azul {
    font-size: 15px;
    background-color: #005da1;
}

.text-azul {
    color: #005da1;
}

.titulo {
    font-family: 'tahoma-bold';
    font-size: 20px;
}

.thead-verde {
    background-color: #4ac2b9;
    border-radius: 20px 0 0 20px;
}

.btn-verde {
    background-color: #42e695;
}

.text-turquesa {
    color: #4ac2b9;
}

.bg-buscar {
    background-color: #17ead4;
}

.bg-word {
    background-color: #586fc4;
}

.bg-pdf {
    background-color: #d13239;
}

.bg-excel {
    background-color: #3bbe28;
}

.wrapper {
    display: flex;
    width: 100%;
}

#v-pills-tab {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
}

.t-11 {
    font-family: 'tahoma-regular';
    font-size: 11px;
    line-height: 11px;
}

.t-12 {
    font-family: 'tahoma-regular';
    font-size: 12px;
    line-height: 12px;
}

.t-13 {
    font-family: 'tahoma-regular';
    font-size: 13px;
    line-height: 13px;
}

.t-14 {
    font-family: 'tahoma-regular';
    font-size: 14px;
    line-height: 14px;
}

.t-15 {
    font-family: 'tahoma-regular';
    font-size: 15px;
    line-height: 15px;
}

#subnavVenta, #subnavOtrosIngresos, #subnavInversion, #subnavOtrosEgresos, #subnavCuentas, #subnavUsuarios, #subnavClientes, #subnavProspectos, #subnavProveedores, #subnavStock, #subnavLote, #subnavKardex {
    font-size: 13px;
}